<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <table class="table table-bordered table-striped">
    <thead>
      <th>Name</th>
      <th>Role</th>
      <th>Action</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td>
            <%= link_to "Edit User", edit_user_path(user), class: 'btn btn-primary btn-sm' %>
            <%= link_to "Delete User", user_path(user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure want to delete?'}, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%#= link_to "New user", new_user_path %>
