
<div class="row mt-5">
  <div class="col-4 offset-4">
    <div class="card">
      <div class="card-header text-center">
        <h1>Sign Up</h1>
      </div>
      <div class="card-body">
        <% if flash[:notice] %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= form_with model: User.new do |f| %>
          <%= f.hidden_field :role, value: :user %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group mt-2">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <%= f.submit "Sign up", class: 'btn btn-primary w-100 mt-3' %>
        <% end %>
      </div>
    </div>
  </div>
</div>